/* Create Global Variable*/
:root {
  --dominant-color: #171515;
  --secondary-color: #626060;
  --accent-color: #be0404;
}
/*General rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dominant-color);
}

/*Create Components*/
/* .title-section {
  text-align: center;
  margin: 0 auto;
}
.title-section h4 {
  margin-bottom: -5px;
  color: var(--accent-color);
  font-size: 1.4rem;
}

.title-section h2 {
  letter-spacing: 4px;
  color: var(--dominant-color);
  text-transform: uppercase;
} */

@media (min-width: 384px) {
    .title-section h2 {
        font-size: .2rem;
        color: red;
    }
}
.padding {
  padding: 100px 0;
}
 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
} 
/*Container*/
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/*Responsive Website*/
/*Small Width*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Medium Width*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large Width*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*Start Top-Header*/
.header {
  background-image: url(../images/dinner-939434_1920.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  position: relative;
}


@media (min-width: 660px) and (max-width: 991px) {
  .contact-info .contact {
    font-size: 0.7rem;
  }
  .time-info .time {
    font-size: 0.7rem;
}
.landing-content {
  margin-top: 60px;
}
}
.contact-info {
  display: flex;
}
.contact-info .phone {
  margin: 0 8px;
}
@media(max-width: 659px) {
   .contact-info .phone {
    display: none;
   
   } 
   .contact-info .email {
    display: none;
}
  .time-info .time {
    font-size: 0.9rem;
    display: flex;
margin-left:-20px ;
}
}

.contact-info .contact {
  color: var(--secondary-color);
  color: #fff;
}
.contact-info .span-contact {
  color: #fff;
}
.time-info {
  display: flex;
  align-items: center;
  text-align: center;
}

.time-info .time {
  margin: 0 10px 0 0;
  color: #fff;
}
.social-media {
  text-align: center;
}
.social-media .icon {
  margin: 0 10px;
  color: #fff;
}
/*End Top-Header*/

/**** Start Navigation-Header****/
.navigation-header {
}
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 7px;
    text-align: center;
}
.header-content .logo a {
    color: var(--accent-color);
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: color .3s;
    text-align: center;
}
.header-content .logo a:hover {
    color: #ffff;
}
.logo .restaurant-span {
    color:#fff;
}
nav {
  margin-top: -30px;
}
nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0; 
    position: relative;
    z-index: 11;  
}

nav .navbar .navbar-li{
    padding: 10px 15px;  
}
nav .navbar  .navbar-li .link {
    transition: color .3s;
    font-weight: 500;
    font-size:1rem;
    color: #fff;
    text-transform: uppercase;   
}
nav .navbar .navbar-li .link:hover {
  color: var(--accent-color);
}
nav .navbar .navbar-li .link.active {
  color: var(--accent-color);
}
.toggle-menu {
  color: white;
  font-size: 22px;
  cursor: pointer;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
  text-align: center;


}
@media(min-width: 800px) {
  .toggle-menu {
    display: none;
  }
}
@media (max-width: 768px) {
  nav .navbar {
    display: none;
  }
}
  @media (max-width: 768px) {

  nav .toggle-menu:hover + .navbar{
    display: flex;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--dominant-color);

  }

}

/**** End Navigation-Header****/


/**** Start Landing ****/
.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media(max-width: 678px) {
    .landing-content {
        margin-top: 50px;
    }
   
}

.landing-content .landing-text {
  padding: 10px 30px;
  border: 1px solid #fff;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 1.2rem;
  width: fit-content;
  margin: 0 auto;
  color: #fff;
}
.landing-info .landing-title {
  margin: 10px 0 40px;
  font-size: 5rem;
  color: #fff;
}
.landing-info .landing-date {
  padding: 50px 0;
  color: #fff;
  position: relative;
  font-size: 1.2rem;
}
.landing-date::after,
.landing-date::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: var(--accent-color);
  z-index: 9999;
  top: 50%;
}
.landing-date::before {
  left: -120px;
}
.landing-date::after {
  right: -120px;
}
.bull {
  position: relative;
}
.bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 888;
}
.bullets .span {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(245, 16, 16);
  border-radius: 50%;
  margin-right: 10px;
  z-index: 77777;
}

/**** End Landing ****/

/****Start about section*****/

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .about-section {
    
    flex-direction: column;
  }
  .about-section .image {
    max-width: 100%;
  }
  
}

.about-section .image {
  max-width: 100%;
  flex-basis: 1;
}
.about-section .image img {
  max-width: 100%;
}
.about-content {
  max-width: 100%;
  text-align: center;
}
.about-content .about-text {
  margin: 0 40px;
  padding: 20px;
  line-height: 2;
  text-align: left;
}
@media screen and (max-width:768px) {
.about-content .about-text {
  padding: 0;
  max-width: 300px;
}
}
.about-content .about-link {
  font-size: 1.2rem;
  position: relative;
  transition: color 0.3s;
}
.about-content .about-link::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: var(--dominant-color);
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
.about-content .about-link::after:hover {
  width: 80px;
  height: 2px;
  color: var(--accent-color);
}
.about-content .about-link:hover {
  color: var(--accent-color);
}

/*Start Booking Section */
.booking-section {
  background-image: url(../images/healthy-7213383_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-attachment: fixed;
  position: relative;
}
.booking-content {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.booking-content .title {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.booking-content .booking-pg {
  font-size: 3rem;
  font-weight: 800;
}

/****End about section****/
/***Start Menu section****/
.menu .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.menu .item {
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 12px 28px 16px;
  transition: transform 0.3s;
}
.menu .item:hover {
  transform: translateY(-13px);
}
.menu .item img {
  width: 100%;
}
.menu .item .item-content {
  padding: 13px;
}
.item-content .item-date {
  color: var(--secondary-color);
  margin: 10px 0;
}
.item-content .item-text {
  padding: 10px 0;
  color: var(--dominant-color);
  line-height: 2;
  margin: 14px 0;
}
.item-content .item-link {
  margin: 14px 0;
  text-transform: uppercase;
}

/*Create Components*/
 .title-section {
  text-align: center;
  margin: 0 auto;
}
.title-section h4 {
  margin-bottom: -5px;
  color: var(--accent-color);
  font-size: 1.4rem;
}
.title-section h2 {
  font-size: 3.7rem;
  letter-spacing: 4px;
  color: var(--dominant-color);
}

@media (max-width: 768px) {
    .title-section h2 {
        font-size: 2.4rem;
        margin-top: 6px;
    }
}
.padding {
  padding: 40px 0;
}
/*Container*/
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/*Responsive Website*/
/*Small Width*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*Medium Width*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*Large Width*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*Start Top-Header*/
.header {
  background-image: url(../images/dinner-939434_1920.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  position: relative;
}
.contact-info {
  display: flex;
}
.contact-info .phone {
  margin: 0 8px;
}
.contact-info .email {
}
.contact-info .contact {
  color: var(--secondary-color);
  color: #fff;
}
.contact-info .span-contact {
  color: #fff;
}
.time-info {
  display: flex;
  align-items: center;
  text-align: center;
}
.time-info .time {
  margin: 0 10px 0 0;
  color: #fff;
}
.social-media {
  text-align: center;
}
.social-media .icon {
  margin: 0 10px;
  color: #fff;
}
/*End Top-Header*/


.booking-section {
  background-image: url(../images/healthy-7213383_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-attachment: fixed;
  position: relative;
}
.booking-content {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.booking-content .title {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 768px) {
    .booking-content .title {
font-size:2rem ;
margin-bottom: 7px;
    }
}
.booking-content .booking-pg {
  font-size: 3rem;
  font-weight: 800;
}
@media (max-width: 768px) {
    .booking-content .booking-pg {
          font-size: 1.5rem;
          width: 400px;
          color: red;

    }
 }

/****End about section****/
/***Start Menu section****/
.menu .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
.item {
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 12px 28px 16px;
}

.item img {
  width: 100%;
}
.item .item-content {
  padding: 25px;
}
.item-content .item-date {
  color: var(--secondary-color);
  margin: 10px 0;
}
.item-content .item-text {
  color: var(--dominant-color);
  line-height: 2;
  margin: 14px 0;
}
.item-content .item-link {
  text-transform: uppercase;
  position: relative;
  padding: 10px 0;
}
.item-content .item-link::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: var(--dominant-color);
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
}
/**End Menu section****/

/*** Start Special section****/
.special-menu-backg {
  background-image: url(../images/prawn-441623_1920.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
  position: relative;
}
@media (max-width: 768px) {
    .special-menu-backg {
    height: 50vh;
    }
}
.backg-reservatiion .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.items-specialites {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}
@media (min-width: 660px) and (max-width: 991px) {
  .items-specialites {
    align-items: center;
  }
}
.item-specialite {
  transition: 0.3s;
}
.item-content {
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: #f9f5f5;
  transition: border 0.3s;
}

.item-content img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}
.item-text .title {
  columns: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
}
.price .price-span {
  font-size: 1.4rem;
  padding: 40px;
  color: var(--accent-color);
}
.special-menu-items {
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 12px 10px 4px;
}
@media (max-width: 768px) {
    .special-menu-items {
        grid-template-columns: 1fr;
    }
}
.special-menu-item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media(max-width: 768px) {
    .special-menu-item {
    }

}
.special-menu-item .image {
  width: 100%; /*ta5o 100%mel space mtaaha*/
  display: flex; /*to make teh image las9in fy baadhhom*/
  overflow: hidden;
}
.special-menu-item img {
  max-width: 100%;
  transition: transform 0.3s;
}
.special-menu-item .image img:hover {
  transform: scale(1.2);
}
/*el content ya5o 100% mel the half space eli a3tahulou bouh*/
.special-menu-item .content {
  text-align: center;
  margin: 0;
  width: 100%; /***Hedhyyyyyy eli cntreeeeeeet el dinyaa elkoooollll lazem*****/
}
@media(max-width: 768px) {
    .special-menu-item .content {
        text-align: left;
        margin:8px 10px;
    }
}
.special-menu-item .content .descrip {
  padding: 20px 0;
}

@media(max-width: 768px) {
    .special-menu-item .content .descrip {
    padding: 0;
    }
}
.special-menu-item .content .price {
  color: var(--accent-color);
  margin-top: 40px;
  font-weight: 600;
  font-size: 1.2rem;
}
/*** End Special section****/
/***Start Reservation section****/

.form-section {
  background-color: #f2f2f8;
  padding: 30px;
}
@media(max-width: 678px) {
    .form-section {
      
    }
}
.form {
  margin-top: 70px;
  border-radius: 5px;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  flex-basis: 100%;
  text-align: left;
}
@media (max-width: 678px) {
    form {
        grid-template-columns: 1fr 1fr;

    }
}
form input {
  display: block;
  margin: 20px 0;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid var(--secondary-color);
  caret-color: var(--accent-color);
}
.form form input[type="text"]:focus {
  outline: none;
}
label {
  display: block;
}
.btn {
  text-transform: uppercase;
  border: none;
  background-color: var(--accent-color);
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 10px 140px;
  margin-top: 30px;
  cursor: pointer;
}

/***End Reservation section****/

/***** Start Contact Form *****/

.contact-content {
}
.contact-items {
  /*display: inline-block;/*maaaaaash thoooot omhaaaa lkalbaaaaaa*/
}
.contact-item .contact-form {
  width: 100%;
}
.contact-form form {
  display: block;
  gap: 40px;
  text-align: left;
}

.contact-form form input,
textarea {
  display: block;
  margin: 20px 0;
  border: 1px solid var(--secondary-color);
  caret-color: var(--accent-color);
  width: 50%;
  resize: vertical;
}
@media (max-width: 768px) {
.contact-form form input,
textarea {
width: 100%;
}
}
.contact-form form input,
textarea:focus {
  outline: none;
}
.contact-form form label {
  display: block;
}
.contact-form form input[type="submit"] {
  color: #fff;
  background-color: var(--accent-color);
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

/***** End Contact Form *****/

/***** Start Footer *****/
footer {
}
.top-footer {
  padding: 100px 80px;
  background-color: var(--dominant-color);
  display: flex;
  justify-content: space-around;

}
@media(max-width: 678px) {
    .top-footer {
        flex-direction: column;
        align-items: start;
    }
}
.top-footer .locations,
.top-footer .time,
.top-footer .contacts {
  color: #fff;
  line-height: 3;
}

.location-title,
.time .time-title,
.contacts .contacts-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.top-footer .contacts {
  list-style: none;
}

.above-footer {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.above-footer .copyright {
  color: #fff;
  font-size: 1.1rem;
}
@media(max-width: 659px) {
    .above-footer .copyright {
        margin-left: 8px;
        font-size: 0.9rem;

    }
}
.above-footer .copyright span {
  color: var(--accent-color);
}
.above-footer .social-media {
  display: flex;
}
.above-footer .social-media li {
  padding: 10px 7px;
  text-align: center;
}
.above-footer .social-media i {
  font-size: 1.3rem;
}
.above-footer .social-media i:hover {
  color: var(--accent-color);
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
.top-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

}

/***** End Footer *****/
